body{
    background-color: #f8f9f9;
}


div{
    background-color: #fafafa;
    border: 1px solid rgb(184, 184, 184);
    margin-left: 700px;
    margin-top: 80px;
    margin-right: 120px;
    
}

.div>form>h1{
    font-style: italic;

    text-align: center;
}


button{
    background-color: #4bb3f7;
    color: white;
    height: 40px;
    width: 310px;
    border-radius: 10px;
    margin-left: 70px;
}

input{

    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-left: 70px;
}

